.header-container {
    display: flex;
}

.text {
    text-align: start;
    width: 40%;
    margin: 0 auto;
}

.header-container h1 {
    margin-right: 3em;
}

@media screen and (max-width: 767px) {
    .header-container {
        display: block;
    }
    .text {
        width: auto;
        margin: auto;
    }
    .text h2 {
        font-size: 2rem;
    }
    .text p{
        font-size: 1.4rem;
    }
    .header-container h1 {
        font-size: 2.5rem;
        width: 100%;
        padding-top: 30px;
    }
}